* {
  font-family: 'Inter', sans-serif !important;
}

body {
  min-width: 250px !important;
  background-color: white;
  color: black;
  padding: 8px;
}

#title {
  color: #1da1f2;
  font-weight: bold;
}

.label {
  font-size: 18px;
  width: 50%;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  margin-left: auto;
}